@charset "utf-8";
/* CSS Document */
.qwerty{
	padding-left:230px;
	padding-right:230px;
}
*{
	margin: 0px;
	font-family:"Times New Roman", Times, serif;
}
.a{
	padding-left:230px;
	padding-right:230px;
	background-color:#6633FF;
	height:75px;
}
.right{
	float:right;
	padding-right:30px;
}
.b{ 
	float:right;
	padding:30px 20px;
}
.b ul {  
	list-style-type: none; 
	text-align: center; 
} 
 
.b ul li {  
	display: inline; 
	} 
 
.b ul li a { 
	text-decoration: none; 
	padding: .2em 1em;
	color:#FFFFFF;
} 
 
.b ul li a:hover {
	color:#0099CC;
	background-color: #fff; 
} 
.c{
	padding:50px;
	height:auto;
	margin:auto;
}
.d{
	padding-top:50px;
	font-size:18px;
}
.e{
	font-size:24px;
	color:#0099CC;
}
.h{
	text-align:center;
	padding-left:150px;
	padding-right:150px;
	background-color:#6633FF;
	height:45px;
	color:#FFFFFF;
}
.f{
padding-left:120px;
}
.style2 {
	font-size: 24px;
	color:#0099CC;
	font-family:inherit;
}
.style3{
	font-size:26px;
	font-weight:bold;
}